body { 
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.02em;
}
a{
    text-decoration: none;
    color: #2E2F42;
}
ul {
    list-style-type: none;
}
/* logotype */
.logo-dark-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #2E2F42;
}
.logo-dark-accent{
    color: #4D5AE5;
}
.logo-waith-title {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
}
/* Header */
.link-menu{
    font-weight: 500;
}
.link-menu:hover {
    color: #404BBF;
}
.link-menu:active{
    color: #404BBF;
    text-decoration: underline;
}
.link-contacs:hover {
    color: #404BBF;
}
/* Hero */
.section-hero {
    background-color: #2E2F42;
}
.hero-title {
   font-size: 56px;
   font-weight: 700;
   line-height: 1.011;
   color: #FFFFFF;
   text-align: center;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-align: center;

}
/* Advantages */
.title-advantages{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* Our Team */
.title-our-team {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;

}
.title-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
/* Our Portfolio */
.title-portfolio{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    text-align: center;
}
.title-services{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
/* Footer */
.footer {
    background-color: #2E2F42;
}
.footer-paragraph {
    color: #F4F4FD;
}
